*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* --- 10px --- */
    font-family: 'Bebas Neue', cursive;
    font-family: 'Mukta', sans-serif;
}

/* PALETA DE COLORES */

:root
{
    --rosado-1: #F207A0;
    --rosado-2: #C4168F;
    --amarillo: #F2CD13;
    --verde: #B6D936;
    --negro: #191919;
    --blanco: #FEFEFE;
}