.fondopared{
    object-fit: cover;
    width: 100%;
    height: 120vh; 
}

.banderines{
    width: 100%;
    display: flex;
    position: absolute;
    top: 4%;
}


/*------------------------------------------------------------------*/

.título{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
}

.título p{
    font-size: 9.6rem;
    font-family: 'Bebas Neue', cursive;
}

.cuadrofondo{
    width: 100%;
    height: 56rem;

    position: absolute;
    top: 52%;
}

.cuadrofondo img{
    width: 100%;
    height: 100%;
    border-radius: 6rem 6rem 0rem 0rem;
}

.grupo-1{
    width: 90%;
    height: 65rem;
    margin: 0rem 8rem;

    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
}

.caja-1{
    width: 45%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.caja-1 p{
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: var(--blanco);

    margin-bottom: 3rem;
    margin-top: 6.5rem;
}

.caja-1 img{
    width: 100%;
    height: auto;
}

.caja-2{
    width: 45%;
    height: auto;
}

.text1{
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);

    margin-top: 6.5rem;
}

.text2{
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 6rem;
    text-align: center;
    color: var(--blanco);

    margin-bottom: 2rem;
}

.redessociales{
    width: 95%;
    height: auto;
    margin-bottom: 3rem;

    display: flex;
    justify-content: space-between;
    align-self: center;

    animation: move-redessociales 4s linear infinite;
}

@keyframes move-redessociales{
    0%{
        transform: translateY(1.5rem);
    } 50%{
        transform: translateY(0rem);
    }100%{
        transform: translateY(1.5rem);
    }
}

.text3{
    width: 100%;
    font-family: 'Mukta', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: var(--blanco);
}
